@import "themes/mocha.css";

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 15px;
    transition: background-color .3s ease-out;
}

window#waybar {
    background: alpha(@ctp-base, 0.75);
    color: @ctp-text;
    transition: background-color .5s;
}

window#waybar.hidden {
    opacity: 0.0;
}

.modules-center,
.modules-right
{
  background: alpha(@ctp-surface0, 0.9);
  margin: 5px 10px;
  padding: 0 5px;
  border-radius: 15px;
}

.modules-left {
  padding: 0;
  margin: 5px 10px;
  background: transparent;
}

#custom-nixos {
  background: alpha(@ctp-surface0, 0.9);
  border-radius: 15px 0 0 15px;
  padding: 0 5px 0 10px;
  margin-left: 0;
  margin-right: 0;
}

#workspaces {
  background: alpha(@ctp-surface0, 0.9);
  border-radius: 0 15px 15px 0;
  padding: 0 10px 0 0;
  margin-left: -4px;
  margin-right: 10px;
}
.modules-center {
  padding: 0 10px;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#language,
#bluetooth,
#custom-bluetooth {
  padding: 0 10px;
  border-radius: 15px;
}

#clock:hover,
#battery:hover,
#cpu:hover,
#memory:hover,
#disk:hover,
#temperature:hover,
#backlight:hover,
#network:hover,
#pulseaudio:hover,
#wireplumber:hover,
#custom-media:hover,
#tray:hover,
#mode:hover,
#idle_inhibitor:hover,
#scratchpad:hover,
#power-profiles-daemon:hover,
#language:hover,
#bluetooth:hover,
#custom-bluetooth:hover {
  background: alpha(@ctp-surface1, 0.9);
}

#workspaces button {
  background: transparent;
  font-weight: 900;
  font-size: 13pt;
  color: @ctp-text;
  border: none;
  border-radius: 15px;
}

#workspaces button.active {
  background: @ctp-base;
}

#workspaces button:hover {
  background: @ctp-surface0;
  color: @ctp-lavender;
  box-shadow: none;
}

#custom-nixos {
  margin-left: 5px;
  padding: 0 10px;
  font-size: 25px;
  transition: color .5s;
  color: @ctp-blue;
}

#custom-nixos:hover {
  color: @ctp-blue;
}

#custom-spotify {
  padding: 0 10px;
  margin-left: 10px;
  background: alpha(@ctp-surface0, 0.9);
  border-radius: 15px;
}

#custom-spotify:hover {
  background: alpha(@ctp-surface1, 0.9);
}

#custom-bluetooth.connected {
  color: @ctp-blue;
}

#custom-bluetooth.disconnected {
  color: @ctp-overlay0;
}

tooltip {
  background: @ctp-base;
  border: 2px solid @ctp-surface0;
  border-radius: 10px;
  color: @ctp-text;
}

tooltip label {
  color: @ctp-text;
}
