configuration {
  show-icons: true;
  icon-theme: "Papirus-Dark";
  // TODO: change font

  display-drun: " Apps";
  display-Network: " Network";
  display-run: " Run";
  display-window: " Window";

  sidebar-mode: true;
}
@import "catppuccin-default"
