/* Catppuccin Latte */
/* Light theme with warm, energizing colors for daytime use */

@define-color ctp-rosewater #dc8a78;
@define-color ctp-flamingo #dd7878;
@define-color ctp-pink #ea76cb;
@define-color ctp-mauve #8839ef;
@define-color ctp-red #d20f39;
@define-color ctp-maroon #e64553;
@define-color ctp-peach #fe640b;
@define-color ctp-yellow #df8e1d;
@define-color ctp-green #40a02b;
@define-color ctp-teal #179299;
@define-color ctp-sky #04a5e5;
@define-color ctp-sapphire #209fb5;
@define-color ctp-blue #1e66f5;
@define-color ctp-lavender #7287fd;

@define-color ctp-text #4c4f69;
@define-color ctp-subtext1 #5c5f77;
@define-color ctp-subtext0 #6c6f85;
@define-color ctp-overlay2 #7c7f93;
@define-color ctp-overlay1 #8c8fa1;
@define-color ctp-overlay0 #9ca0b0;
@define-color ctp-surface2 #acb0be;
@define-color ctp-surface1 #bcc0cc;
@define-color ctp-surface0 #ccd0da;
@define-color ctp-base #eff1f5;
@define-color ctp-mantle #e6e9ef;
@define-color ctp-crust #dce0e8;
