/* Catppuccin Macchiato */
/* Medium contrast variant with gentle colors creating a soothing atmosphere */

@define-color ctp-rosewater #f4dbd6;
@define-color ctp-flamingo #f0c6c6;
@define-color ctp-pink #f5bde6;
@define-color ctp-mauve #c6a0f6;
@define-color ctp-red #ed8796;
@define-color ctp-maroon #ee99a0;
@define-color ctp-peach #f5a97f;
@define-color ctp-yellow #eed49f;
@define-color ctp-green #a6da95;
@define-color ctp-teal #8bd5ca;
@define-color ctp-sky #91d7e3;
@define-color ctp-sapphire #7dc4e4;
@define-color ctp-blue #8aadf4;
@define-color ctp-lavender #b7bdf8;

@define-color ctp-text #cad3f5;
@define-color ctp-subtext1 #b8c0e0;
@define-color ctp-subtext0 #a5adcb;
@define-color ctp-overlay2 #939ab7;
@define-color ctp-overlay1 #8087a2;
@define-color ctp-overlay0 #6e738d;
@define-color ctp-surface2 #5b6078;
@define-color ctp-surface1 #494d64;
@define-color ctp-surface0 #363a4f;
@define-color ctp-base #24273a;
@define-color ctp-mantle #1e2030;
@define-color ctp-crust #181926;
